.head-portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.main-menu-nav {
  margin: 40px 0;
  text-align: center;
}

.main-menu-nav .btn {
  width: 150px;
}

.disclaimer {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .head-portrait {
    height: 150px;
    width: 150px;
  }
  .main-menu-nav {
    margin: 20px 0;
  }
}
