.page {
  height: 100%;
}

.row.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.left-sidebar {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.right-page-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 0;
}

.left-sidebar {
  background-color: #f6f9f9;
}
