.project-experiences {
  padding: 10px;
  width: 80%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.project-experiences__section {
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 1px 2px 2px #e2dddd;
  margin: 40px 0;
}

.project-experiences__img {
  box-shadow: 2px 5px 5px #bbb3b3;
  max-width: 800px;
  max-height: 600px;
  width: auto;
}

.project-experiences__div--img {
  margin-bottom: 60px;
}

.project-experiences__div--basic-intro {
  margin-bottom: 40px;
}

.smile-sharing {
  height: auto;
  width: 100%;
}

.smile-sharing-admin {
  height: auto;
  width: 100%;
}

.smile-view-one {
  height: auto;
}

.smile-view-two {
  height: auto;
}

.smile-view-three {
  height: auto;
  width: 100%;
}

@media (max-width: 700px) {
  .smile-view-one {
    width: 100%;
  }

  .smile-view-two {
    width: 100%;
  }

  .project-experiences {
    width: 95%;
  }
}
