.page {
  height: 100%;
}

.row-no-gutters {
  padding: 0;
}

.right-page-content, .left-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-sidebar {
  background-color: #f6f9f9;
}
