.page {
  height: 100%;
}

.right-page-content, .left-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-sidebar {
  background-color: #f6f9f9;
}

.disclaimer {
  position: absolute;
  bottom: 30px;
  font-size: 15px;
}
