.work-experiences__section {
  margin: 20px 40px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #e2dddd;
  background-color: #e6e0e02e;
}

@media (max-width: 700px) {
  .work-experiences {
    width: 95%;
  }
}
